<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">

  <title>Test</title>
</head>
<body>

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Test URL</h1>
      <p class="lead">Teste url dos produtos da arezzo.</p>
    </div>
    <div id="show_errors" class="alert alert-danger" role="alert">
      <ul id="list_errors">
      </ul>
    </div>
    <form method="post" action="/image" name="image" id="image" onsubmit="return checkForm()">
      <div class="form-group">
        <label for="image_hash">Entre com o texto da imagem encriptada</label>
        <textarea class="form-control" id="image_hash" rows="3" name="image_hash"></textarea>
      </div>
      <div class="form-group">
        <label for="url">Url do Produto</label>
        <input type="url" class="form-control" id="url" name="url" placeholder="Digite a url do produto">
      </div>
      
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
 
 <script src="assets/javascript/validation.js"></script>

</body>
</html>

